.sideHeaderDiv {
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    color: white;
    /*margin-bottom: -12px;*/
    padding: 5px;
    display: flex;
    /*margin-top: 25px;*/
}

/*.start .sideHeaderDiv{
    display: flex;
    /*margin-top: -12px;
}*/

.sideHeader{
    max-width: 70%;
    min-width: 70%;
    overflow: hidden;
    padding-left: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

