/*Überschriften für diese Seite*/

.sideHeaderFilesDiv {
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    padding: 5px;
    display: flex;
    margin-top: 25px;
}

.sideHeaderFiles{
    max-width: 70%;
    min-width: 70%;
    overflow: hidden;
    padding-left: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
}