/*Home-Seite*/
.searchBar{
    display: flex;
    width: 30%;
}

.searchDiv{
    background-color: white;
    border: 0.2px solid rgb(51, 51, 51);
    border-radius: 5px;
    display: flex;
    margin-right: 5px;
    width: 80%;
}

.selectionBox{
    border: medium none;
    height: 30px;
    margin-left: 2px;
}

.inputSearch{
    border: medium none;
    height: 30px;
}