/********** CSS-Datei für die Darstellung von der Seite "Login" **********/

/*Einstellung für die Darstellung der Input-Felder und des Buttons*/
.loginDiv {
    border: 0.2px solid black;
    border-radius: 5px;
    padding: 2px;
}

main form.login{
    width:400px;
    margin:auto
}

main form.login input{
    border: medium none;
    font-size: 14pt;
    width: 100%;
    height: 40px;
}

main form.login input:first-child{
    border-bottom: 0.2px solid black
}

main form.login button{
    float: right;
    margin-top: 10px;
    width: 20%;
}

/*Einstellung für die Darstellung der Links*/
.linkDiv {
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
}