/********** CSS-Datei für die Darstellung von der Seite "Neuen Beitrag erstellen" **********/

/*Einstellungen für das DIV und das Input-Feld*/
.addArticleDiv{
    margin-left: 12px;
    max-width: 80%;
}

.newArticle input{
    border-radius: 5px;
    height: 25px;
}