/********** CSS-Datei für die Darstellung von der Seite "Neues Profilfoto" **********/

/*Anzeige des aktuellen Profilfotos*/
.newPicImg{
    border-radius: 5px;
    height: 90px;
    margin-left: 5px;
}

/*Einstellungen zum Löschen des Fotos und zum Upload eines neuen Fotos*/
.buttonDelete{
    margin-left: 138px;
}

.formUpload{
  margin-top: 5px;
}

.buttonUpload {
    background-color: white;
    border: 0.2px solid rgb(51, 51, 51);
    border-radius: 5px;
    height: 30px;
    font-size: 12pt;
}

/*Einstellungen zur Anzeige einer Fehlermeldung*/
.failImg{
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    padding: 2px;
    resize: none;
    width: 510px;
    color: red;
}
