/********** CSS-Datei für die Darstellung von der Seite "Neuen Nutzer anlegen" **********/

.newUserDiv {
    border: 0.2px solid black;
    border-radius: 5px;
    padding: 2px;
}

.newUser {
    width:400px;
    margin:auto
}

/*Darstellung der Input-Felder und des Buttons*/
.newUser input{
    border: medium none;
    font-size: 14pt;
    width: 100%;
    height: 40px;
    border-bottom: 0.2px solid black;
}

.newUser input:last-child{
    border: medium none;
}

.newUser button{
    float: right;
    margin-top: 10px;
    width: 45%;
}