/*Profil*/
.profilAction{
    display: flex;
    margin-left: 60px;
    margin-top: 60px;
}

.allArticlesDiv{
    margin-right: 40px;
}

a.filesImg img, a.newArticleImg img{
    height: 80px;
    border-radius: 5px;
}

.labelAction{
    font-size: 14px;
    font-weight: bold;
}