/************************************Allgemein************************************/
*,html{
    font-family:sans-serif
}

div.page{
    background-color: white;
    margin: auto;
    min-height: 100vh;
    width: 95%;
}

html,body{
    background-color:rgb(51,51,51);
    font-size:14pt;
    margin:0px;
    padding:0px
}

header{
    text-align:center;
    position:relative;
    background-color: rgb(51,51,51);
    color: white
}

main{
    padding:5px;
    border-radius: 5px;
}

button{
    background-color: white;
    border: 0.2px solid black;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    font-size: 12pt;
    height: 30px;
}

button:hover{
    cursor: pointer;
}

/*Überschriften*/
h1 {
    margin-bottom: 0;
    margin-top: 5px;
}

h2 {
    color: rgb(51, 51, 51);
    font-weight: lighter;
    text-align: center;
    text-decoration: underline;
}

/*Infomeldungen*/

.infoDiv{
    margin-bottom: 10px;
    text-align: center;
}

.failRegistration, .successRegistration{
  border: 1px solid;
  border-radius: 5px;
  overflow: hidden;
  padding: 2px;
  resize: none;
  width: 370px;
}

.failRegistration{
  border-color: red;
  color: red;
}

.successRegistration{
  border-color: green;
  color: green;
}

span {
    cursor: pointer;
}


/************************************Von mehreren Seiten genutzt************************************/
.textareaEdit{
    margin: auto;
    resize: vertical;
    width: 100%;
    max-height: 100vh;
    min-height: 250px;
}

.editOldArticle button, .newArticle button{
    float: right;
    margin-left: 5px;
    margin-top: 5px;
}

.singleArticle {
    margin: 15px auto auto;
    max-width: 98%;
    min-height: 100vh;
}


.bold, .italic, .underline, .enter{
    background-color: white;
    border: 0.2px solid rgb(51, 51, 51);
    box-shadow: none;
    margin-top: 5px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

.enter{
    /*Bild einfügen*/
}

/*Überschriften für jede Seite*/
.sideHeaderDiv {
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
}

.start .sideHeaderDiv{
    display: flex;
}

.sideHeader{
    min-width: 70%;
    overflow: hidden;
    padding-left: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Sowohl in start.php als auch in article.php*/

.user-articleImg {
    border: 0.2px solid rgb(51, 51, 51);
    border-radius: 5px;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.nameUserArticle {
    font-size: 10px;
    margin-left: -55px;
    margin-top: 36px;
    color: black;
    text-overflow: ellipsis;
}

/*Anzeige Titel der Beiträge*/

.titleDiv{
    margin-top: 5px;
}

.titleLabelDiv {
    border: 0.5px solid rgb(51, 51, 51);
    border-radius: 5px;
    display: flex;
    height: 50px;
    margin: 10px;
    padding: 2px 2px 2px 5px;
}

.titleLabelDiv:hover {
    box-shadow: 4px 4px 3px rgb(51, 51, 51);
    cursor: pointer;
}

.imgUserName{
    max-width: 120px;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.titleLabel {
    color: black;
    font-size: 20px;
    margin-top: 12px;
    overflow: hidden;
    padding-left: 50px;
    text-decoration: underline;
    text-overflow: ellipsis;
    width: 75%;
}

.titleLabel:hover {
    cursor: pointer;
}

.linkArticle{
    text-decoration: none;
}

.likeImg{
    height: 30px;
    width: 30px;
}

.likeNumber, .likeNumberStart{
    color: black;
    font-size: 16px;
}

.likeDiv {
    display: flex;
    padding-right: 10px;
}

.likeNumber{
    margin-left: -17px;
    margin-top: 30px;
}







/*
.userImg {
    height: 30px;
    margin-bottom: -5px;
}

/*Own Articles*/
.dateLabel {
    color: black;
    float: right;
    font-size: 10px;
    margin-left: 10px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.themeLabel{
    float: right;
    color: black;
    font-size: 10px;
}
